<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Super Site</title>
  </head>
  <body>
    <% include partials/navbar %>
    <div>
      <h1>
        Profile page of
        <span style="color: hotpink"><%= person.name %>!</span> 🐵
      </h1>
      <h3><strong>Age: </strong> <%= person.age %></h3>
      <h3><strong>City: </strong> <%= person.city %></h3>
      <hr>
      <h2>Hobbies</h2>
      <ul>
        <% person.hobbies.forEach(hobbie => { %>
          <li><%= hobbie %></li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
