body {
  margin: 0;
  height: 100vh;
  background-color: rgb(233, 178, 39);
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
}

div {
  transform: translateY(-200px);
}
h2 {
  text-align: center;
}